@charset "EUC-KR";
.model-style {
  display: inline-block;
  margin-left: 70%;
}
i.fa-bars {
  padding-right: 20px;
  color: #000;
}
i.fa-th {
  color: #000;
}
.border-style {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
